@model IEnumerable<Library_Management.Models.Book>


@{
    ViewBag.Title = "Index";
}

<h2>My Books</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "MyBooks", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Author", "MyBooks", new { sortOrder = ViewBag.AuthorSortParam })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                @Html.ActionLink("Return", "Return", "Books", new { id = item.Id }, new { @class = "btn btn-default" })

            </td>
        </tr>
    }

</table>
