@model IEnumerable<Library_Management.Models.BorrowHistory>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @if (item.ReturnDate == null)
                {
                    <p>Not returned yet</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                }

            </td>
        </tr>
    }

</table>
